@import "tailwindcss";

@custom-variant dark (&:is(.dark, .dark *));

@theme {
  --color-primary: #aa3bff;
  --color-primary-hover: #902bd9;
  --color-background: #ffffff;
  --color-background-dark: #16171d;
}

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 dark:bg-gray-900 dark:text-gray-100;
  }
}
